[alias]
	st = status
	co = checkout
	br = branch
    df = difftool -y
    cp = cherry-pick

[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
	editor = vim
